body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 500px;
    padding-bottom: 50px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
    text-align: left;
}
.hire-me-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: white;
    padding: 1px 20px;
    border-radius: 5px;
    font-weight: 550;
}
.orenge-highlight{
    color: orangered;
}
.half-width{
    width: 40%;
    float: left;
    margin: 0 2.5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.half-width p{
    text-align: justify;
    color: dimgray;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
.profile-image1{
    
}
.profile-image2{
   
}
.pro-dev{
    box-shadow: 10px 10px 50px gray;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    
}
.baby-dev{
    box-shadow: 10px 10px 50px gray;
    height: 70%;
    border-radius: 5px;
    background-color: white;
}
.experinces-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    
}
#pro-border{
    border-left: 7px solid;
    border-image: linear-gradient(45deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-border{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
footer h3{
   
}